<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'menu/main_menu.html.twig' only %}
    For Olga *-)
        {% block body %}{% endblock %}
        {{ number }}
        {% block javascripts %}{% endblock %}
    </body>
</html>